@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam Pro", sans-serif;
    font-style: normal;
    /* background-color: #F8FAFC; */
}

img {
    width: 100%;
    height: 30%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

header{
    height: 30vh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    gap: 2vh;
}

header > .title{
    font-size: 2rem;
    font-weight: 700;
    color: #121826;
}

header > .msg , .permonth{
    font-size: 1rem;
    font-weight: 500;
    color: #4D5562;
}

main{
    width: 100%;
    padding: 4% 0%;
    display: flex;
    justify-content: center;
}

table{
    width: 80%;
    border-collapse: collapse;
}

.emptyth{
    width: 25%;
}

thead{
    /* padding-top: 5%; */
    height: 28vh;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.blue{
    color: #3662E3;
    font-size: 1rem;
    font-weight: 600;
}

.price{
    font-size: 4rem;
    font-weight: 600;
}

td{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color:#121826;
}

tbody tr td:first-child{
    text-align: left;
    color: #121826;
    font-weight: 600;
    font-size: 1rem;
}

tbody>tr{
    height: 6vh;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

}

tfoot tr{
    height: 9vh;
    
}

/* hovered plan */

tbody tr>td:nth-child(4) , thead tr>th:nth-child(4) {
    background-color: #121826;
    color: #FFFFFF;
    border-bottom:1px solid #4D5562;
}

thead tr>th:nth-child(4) .permonth{
    color:#FFFFFF;
}
thead tr>th:nth-child(4) .blue{
    color:#FFFFFF;
    background-color: #3662E3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    width: 6vw;
    border-radius: 20px;
    position: relative;
    left: 30%;
}
thead tr>th:nth-child(4){
    border-radius: 20px 20px 0px 0px;
    
}

tbody tr>td:nth-child(4)>svg>path{
    fill: #F8FAFC;
}

tfoot>tr>td:nth-child(4){
    color: #FFFFFF;
    background-color: #E9A23B;
    border-radius: 0px 0px 20px 20px;
}
tfoot>tr>td:nth-child(4) path{
    fill: #FFFFFF;
}



